@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
 background-image: linear-gradient(to left, #320b13, #310b12, #2f0b10, #2e0b0f, #2d0b0d, #2b0b0d, #2a0b0c, #280b0c, #250b0c, #210b0d, #1e0a0c, #1a0a0c);
}
a
{
text-decoration: none;
color:#adacac;
}
.buttons{

  padding: 30px;
  margin-left: 55px;
 
}

a:hover{
    color: #787878;

}
.wb {
  padding-left: 15%;
}
.first{
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #9c5151;
  border-radius: 0.6em;
  color: #9c5151;
  cursor: pointer;
  display: inline ;
  float: initial;
  align-self: center;
  font-size:19px;
 
  margin: 5px;
  padding: 0.8em 1.8em;
  text-decoration: none;
  text-align: center;
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 750;
  transition:  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;


}
 .first:hover
 {
  color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #FB667A inset;
 }
  .first:focus {
    color: #fff;
    outline: 0;
  }
  


h1 {
  font-size:1.5em; 
  font-weight: 300;
  line-height:0.5em;
  text-align: center;
  color: #8c8989;
}

h2 {
  font-size:1.2em; 
  font-weight: 500;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.white { color: #fffafa; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color:#4d4949 ;
  line-height: 18px;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
  line-height: 25px;
}

/* Background-color of the odd rows */
.container tr {
	  background-color: #523535;
}

/* Background-color of the even rows */
/*.container tr:nth-child(even) {
	  background-color: #523535;
}*/

.container th {
	  background-color: #140202;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #2b0707;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #260303;
  color: #f7f2f3;
  
  
  box-shadow: #f26379 -1px 1px, #f26379 -2px 2px, #f26379 -3px 3px, #f26379 -4px 4px, #f26379 -5px 5px, #f26379 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {

  .buttons{
  padding: 80px;
  font-size: 0rem;
  font-weight: 200;
  line-height: 0.1;
  margin: 3px;
  padding: 0.5em 0.8em;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  
}


.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}

footer{
  max-width: 90vw;
  margin: auto;
  color: wheat;
}
#ret_hmp{
height: 2em;
width: 8rem;
color: white;
font-size: 1rem;
font-family:"myriad pro regular";
border-radius: 20px;
background-image: linear-gradient(to left, #0000005c 5%, #625261);
transition: 0.5s ease-in;
}
#ret_hmp:hover{
font-size: 1.2rem;
color: black;
cursor: pointer;
}